.butt{
	background-color:blue;
	color:white;
	padding:5px;
	width:200px;
	margin:0px;
	border-width:0px;
}
.bg{
	background-color:white;100px 250px

}
.imgsrc{
	font-size:10px;
}
.in{
	background-color:white;
	color:light-black;
	padding:8px;
}