.contact{
	color:green;
	cursor:crosshair;

}
.email{
	color:green;
}
.one{
	color:blue;
}
.second{
	color:blue;
}
.third{
	color:blue;
}
.four{
	color:blue;
}
.five{
	color:blue;
}
.six{
	color:blue;
}
.bg{
	background-color:lightgreen;
}





